/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-text {
  color: #606080;
  font-weight: 500;
  margin-top: 7px;
  font-size: 17px;
}

.top-left {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.tag-card {
  margin: 10px 0 0 20px;
  color: #806a78;
}
